button {
  margin: 5px;
}

.contenedor {
  margin: 5%;
}

.buscador {
  position: sticky;
  top: 64px;
  z-index: 99;
  background-color: white;
}

.buscador input {
  padding-left: 10px;
}

/* Structure */
table {
  width: 100%;
}
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

#float-btn {
  position: fixed;
  bottom: 2%;
  right: 8%;
}