<form (ngSubmit)="agregar()">
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Ingresar Nombre</mat-label>
          <input matInput name="name" placeholder="Juan Ejemplo" [(ngModel)]="item.name" [formControl]="nombre" required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>Requerido</mat-hint>
          <mat-error *ngIf="nombre.invalid">{{getNombreErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
            <mat-label>Ingresar Email</mat-label>
            <input matInput name="email" placeholder="pat@example.com" [(ngModel)]="item.email" [formControl]="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Requerido</mat-hint>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Ingresar teléfono</mat-label>
          <input matInput name="phone" placeholder="54111111111" [(ngModel)]="item.phone">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Opcional</mat-hint>
        </mat-form-field>
      </p>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" type="submit" mat-dialog-close [disabled]="!formisvalid">Crear Contacto</button>
</form>
